html, body {
  margin:0;
  padding:0;
}
.logo, img {
    width: 100%;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .wrapper {
        width: 100%;
     }
     /*.logo, .workFlex img{
       max-width: 100%;
     height: auto;
     }*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper {

    }


    /*.logo, .workFlex img{
      max-width: 100%;
    height: auto;
    }*/
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .wrapper {

    }
    .navfoot {
      display: block;
    }
    .hamburger-icon {
      display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper {

  }
  .hamburger-icon {
    visibility: hidden;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
    }
}

@media all and (max-width:30em){
 a.btnTransition {
  display:block;
  margin:0.4em auto;
 }
}
/**** Universal css************/
.wrapper {
 margin-right: auto;
 margin-left:  auto;
 width: 91%;
 font-family: 'Montserrat', sans-serif;
 padding: 20px;
}
.hamburger-icon {
margin-top: -1%;
margin-left: 80%;
}
body {
  background-color: #FFFAFA;
}
hr {
  border: 0;
  background-color: #fff;
  border-top: 1px dashed #8c8c8c;
}
h2, h3 {
  color: #008080;
}
.backPosition {
  margin-top: 1%;
}
ul.bullets {
    list-style-type: square;
}
ul.connectLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.connectList {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
.connectLinks {
  margin-left: 40%;
  width: 23%;
}
.logo {
  margin-left: 4.2%;
  margin-top: 2%;
  width: 23%;
  color: #FFFFFF;
  padding-top: 1%;
}
.heading {
  text-align: center;
  margin-top: -2%;
  font-family: 'Open Sans', sans-serif;
}
.row {
  display: flex;
}
.overview {
  line-height: 2em;
  text-align: justify;
  margin-top: 5%;
   flex: 50%;
}
.overviews {
  line-height: 2em;
  text-align: justify;
  margin-top: 5%;
   flex: 50%;
    margin-left: 10%;
}
.header {
background:#008080;
margin-top: -2%;
color: #FFFFFF;
text-align: center;
font-family: 'Montserrat', sans-serif;
}
/**************************************************************

/****** Designerbay css*************/
.rightOverviewDesignerBay {
  float: right;
  /*width: 50%;
  text-align: justify;
  line-height: 2em;
  margin-top: -18.5%;*/
}
.designerbayWork {
  margin-top: 2.5%;
  line-height: 2em;
  text-align: justify;
}
.workFlex {
   display: inline-flex;
   flex-direction: row;
   max-width: 100%;
   flex-wrap: wrap;
   justify-content: space-between;
}
.workFlex > div {
  margin-bottom: 5%;
  width: calc(1/2*100% - (1 - 1/2)*5%)
}
.moreWork {

}
/*********************************************/

/************* index.html css****************/
.intro {
 font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 32px;
  text-align: center;
  margin-left: 30%;
  width: 40%;

}
.topline {
  text-align: center;
}
.rightOverview {
  float: right;
  width: 50%;
  text-align: justify;
  line-height: 2em;
  margin-top: -8%;
}
.work {
  width: 50%;
  margin-top: 5%;
}
a.btnTransition {
  border: 2px solid black;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 17%;
  height: 5%;
  color: #000000;
  background-color: white;
  cursor: pointer;
  transition-duration: 1s;
  transition-duration: 0.4s;
  padding:0.35em 1.2em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.btnTransition:hover {
  color:white;
  background-color: #008080;
}
/*****************************************************/

/******* Volunteer Lines Project.html css****************/
.rightOverviewVolunteerLines {
  float: right;
  width: 50%;
  text-align: justify;
  line-height: 2em;
  margin-top: -13%;
}
.volunteerLinesWork {
  margin-top: 5%;
}
.volunteerLinesApproach {
  margin-top: 5%;
  line-height: 2em;
  text-align: justify;
}
/**********************************************************/

.positon {
  margin-left: 2.5%;
}
.imgBorder {
  border: 0.5px solid black;
  margin-bottom: 5%;
}

/*contols overlay underneath the text once hovered*/
.imageOverlay {
  position: relative;
}
/*controls position of text once image has been hovered over*/
.imageText {
 position: absolute;
 top: 8.9%;
 bottom: 0.5%;
 left: 0%;
 right: 0%;
 background: #000000;
 color: #fff;
 opacity: 0.5;
 visibility: hidden;
 display: flex;
 align-items: top;
 justify-content: justify;
 /*transition: opacity .2s, visibility .2s;*/
}
/* makes text appear on hover over*/
.imageOverlay:hover .imageText {
  visibility: visible;
}

/*********** Footer css********************/
.footer {
margin-bottom: -2%;
color: #000000;
text-align: center;
 font-family: 'Montserrat', sans-serif;

}
.navfootResponsive li {
float:left;
}
.navfootResponsive ul {
  width: 2%;
  margin-top: -7%;
  float: left;
  background-color: #008080;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  margin-left: 50%;
}
.navfoot {
  width: 50%;
  margin-top: -7%;
  float: right;
  /*background-color: #008080*/
}
.navfoot li {
    float: left;
}
.navfoot ul {
 width: 90%;
 margin-top: 1%;
 margin-left: 5%;
 padding: 5px;
 list-style-type: none;
 text-align: center;
 /*font-family: 'Open Sans', sans-serif;*/
 font-size: 60px;
 }
.navfoot a:hover {
    color: #FFF;
    text-decoration: none;
}
.navfoot a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
.navfoot a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #FFF;
}
.navfoot a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #FFF;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
.navfoot a:active::before {
    background-color: #FFF;
}
.navfoot a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
/*******************************************************************
